{% extends "project.html" %}

{% block description %}
	<h1> I.S.Share </h1>
	<h2> An app use social network to help you to save water </h2>
	<div class="dottedline"></div>
	<p> 
		World wide shower share is a combination of a shower detector and an iphone application.It enable physical behavior to interact with digital game, and the other way around.By combining social network like facebook and fun game , it bring awareness , influence people’s behavior to save water. 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm2.static.flickr.com/1374/5112293133_f303d1e0a7.jpg">
	
	<div class="video">
		<iframe src="http://player.vimeo.com/video/14327109" width="600" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<img class="projectImage" src="http://farm2.static.flickr.com/1047/5112891798_90aa811816.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5563/14749836003_02c0df925b.jpg">	
{% endblock images %}
