{% extends "project.html" %}

{% block description %}
	<h1> Motilo </h1>
	<h2> UX/UI consultant </h2>
	<div class="dottedline"></div>
	<p> 
		I have been working as a UX/UI consultant for a few ecomerse sites, expecially for High street fashion brands. 
		My expertised focus on how to increase conversion rate by improving user experice.  
		I would usually looking at site structure, navigation, check out flows. 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm6.staticflickr.com/5574/14722042416_7793c71601.jpg">
{% endblock images %}

