{% extends "project.html" %}

{% block description %}
	<h1> Charactor design </h1>
	<h2> Concept design </h2>
	<div class="dottedline"></div>
	<p> 
		I did some concept design for this tablet game. Including charactor design, scene design and story line. 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3900/14737122085_58cd5e7cac.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5564/14543400867_4dd7604b5a.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3911/14706849476_a7478a85d5.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3895/14543179960_86f7506a24.jpg">
{% endblock images %}


