@import "_reset";
@import "_responsive";

$BLUE: #64C7CC;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: red;
}

/*------------------------------*/
body {
	font-family:'Roboto', "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.frame900 {
	margin: 0 auto; /*(horizatal center align)*/
}
@include on-desktop {
	.frame900 {
		max-width: 900px;
	}
}
@include on-tablet {
	.frame900 {
		max-width: 90%;
	}
}
@include on-mobile {
	.frame900 {
		width: 100%;
	}
}


@include on-mobile {
	.content {
		padding-top: 66px;
	}
}


@include on-tablet-desktop {
	.header {
		$height: 150px;
		height: auto;
		text-align: center;
		margin-top: 70px;
		margin-bottom: 70px;
		.logo {
			height: 50px;
			line-height: 50px;
			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.navi {
			position: static;
			height: 50px;
			line-height: 39px;
			text-align: center;
			list-style-type: none;
			margin: 0;
			padding: 0;
			right: 0px;
			vertical-align: middle;
			display: block;
		}
		.navi li {
			display: inline-block;
		}
		.navi li a {
			height: 50px;
			line-height: 50px;
			padding: 8px 4px 8px 10px;
			text-decoration: none;
			font-size: 10px;
			color: #545454;
			font-weight: 500;
			text-transform:uppercase;
		}
		.navi li a:hover {
			color: red;

		}
	}
}
.line {
	border-top: 1px dotted gray;
}
.topTag{
	height: 30px;
	width:100%;
	widows: 100%;

	display:inline-block;
	@media (max-width: 600px) {
		margin-top:0px;
	}
}
.topTag li{
	float:left;
	list-style-type: none;
	margin-top:5px;
	color: #2f2f2f;
	padding: 0 9px 0 0;
	font-style:italic;
	font-size: 13px;
}
.topTag li a {
	font-size: 13px;
	font-weight:100;
	text-decoration: none;
	color: #545454;
	font-style:italic;
	cursor: pointer;

	@media (max-width: 600px) {
		display: none;
	}

}
.topTag li a:hover{
	color: red;
}
.socialIcons {

	vertical-align: middle;

	font-weight:600;
	font-size: 14px;

	text-align: center;

	.fa{
		display: inline-block;
		width: 23px;
		height: 23px;
		line-height: 23px;
		text-align: center;
		background:#c0bebe;
		border-radius: 100%;
		margin: 0 2px;
		color: white;

	}
	.fa-dribbble{
		background-color:#CACACA;
	}
	.fa-dribbble:hover{
		background-color:#e55757;
	}
	.fa-instagram{
		background-color:#CACACA;
	}
	.fa-instagram:hover{
		background-color:#e66c13;
	}
	.fa-linkedin{
		background-color:#CACACA;
	}
	.fa-linkedin:hover{
		background-color:#1869a7;
	}
	.fa-github-alt{
		background-color:#CACACA;
	}
	.fa-github-alt:hover{
		background-color:#44b4b5;
	}
	.fa-coffee{
		background-color:#CACACA;
	}
	.fa-coffee:hover{
		background-color:#2689bc;
	}
	.fa-flickr{
		background-color:#CACACA;
	}
	.fa-flickr:hover{
		background-color:#eb3862;
	}
}
.socialIcons-about {
	vertical-align: middle;
	color: #ffffff;
	font-weight:600;
	font-size: 14px;

	.fa{
		display: inline-block;
		width: 23px;
		height: 23px;
		line-height: 23px;
		text-align: center;
		background:#c0bebe;
		border-radius: 100%;
		color: white;
		margin: 0 2px;
	}
	.fa-dribbble{
		background-color:#f37d7d;
	}
	.fa-dribbble:hover{
		background-color:#e55757;
	}
	.fa-instagram{
		background-color:#f5a062;
	}
	.fa-instagram:hover{
		background-color:#e66c13;
	}
	.fa-linkedin{
		background-color:#79afd9;
	}
	.fa-linkedin:hover{
		background-color:#1869a7;
	}
	.fa-github-alt{
		background-color:#73c8c9;
	}
	.fa-github-alt:hover{
		background-color:#44b4b5;
	}
	.fa-coffee{
		background-color:#67b3db;
	}
	.fa-coffee:hover{
		background-color:#2689bc;
	}
	.fa-pagelines{
		background-color:#f1a2b4;
	}
	.fa-pagelines:hover{
		background-color:#eb3862;
	}
}
@include on-tablet-desktop {
	.works{
		text-align:justify;
	}
	.work{
		width: 32%;
		height: 286px;
		display:inline-block;
		margin-bottom: 14px;
		vertical-align: bottom;
		&.hidden {
			display: none !important;
		}
	}
	.dummywork {
		display: inline-block;
		width: 32%;
	}
}
@include on-mobile {
	.work {
		width: 100%;
	}
}
.coverImage{
	display:block;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 235px;
	border:1px solid rgb(243, 243, 243);
}
.coverImage:hover{
	box-shadow: 0px 313px rgba(255, 0, 92, 0.6) inset;
}
a.projectName {
	text-align:center;
	font-weight: 400;
	font-size: 14px;
	color:#5A5A5A;
	margin-top:16px;
	display: inline-block;
	width: 100%;
	@include on-mobile {
		margin-bottom: 48px;
	}
}
.footer{
	border-top: 1px dotted gray;
	padding: 15px 16px 15px 16px;
	font-size: 13px;
	font-weight: 300;
	display: block;
}

/*----------project page--------------------*/
.projectImage {
	width: 100%;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 18px 0;
	border:1px solid rgb(243, 243, 243);
}
.projectName:hover{
	color:black;
}
.goBack{
	float:left;
	font-weight:800;
	font-size:12px;
	color: #a8a8a8;
	padding-bottom: 15px;
}
.goNext{
	float:right;
	font-weight:800;
	font-size:12px;
	color: #a8a8a8;
	padding-bottom: 15px;
}
.project {
	margin-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	.imagePlace {
		width: 68%;
		float: left;
		@media (max-width: 600px) {
			display: block;
			width: 100%;
		}
		p {
			padding: 0 0 8px 0;
		}
		.video {
			margin: 0 0 18px 0;
			iframe {
				width: 100%;
				min-height: 400px;
			}
		}
	}
	.description {
		width: 30%;
		padding: 0px 0px 8px 0px;
		color: #2f2f2f;
		float: right;
		text-align: left;

		@media (max-width: 600px) {
			width: 100%;
			display: block;
		}

		h1 {
			font-weight: 500;
			font-size: 18px;
			padding: 0 0 13px 0;
			color: rgb(71, 71, 71);
		}
		h2 {
			font-weight:400;
			font-size: 14px;
			font-style:italic;
			color:rgb(131, 131, 131);
		}
		.dottedline {
			height: 0px;
			border-top: 1px dotted gray;
			margin: 20px 0;
		}
		p {
			font-weight: 300;
			font-size: 14px;
			padding: 0 0 10px 0;
			line-height:1.3em;
			color: rgb(109, 109, 109);
			line-height: 1.5em;
		}
	}
}

.hamburger {
	display: none;
}
@include on-tablet-desktop {
	.mobile-header {
		display: none;
	}
}
@include on-mobile {
	.topTag {
		display: none;
	}
	.header {
		display: none;
	}
	.mobile-header {
		display: block;
		position: fixed;
		overflow: hidden;
	  width: 100%;
	  left: 0;
	  top: 0;
		background: white;
		text-align: center;
		line-height: 66px;
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
		a, img {
			vertical-align: middle;
			line-height: 66px;
		}
		img {
			height: 35px;
		}
	}
	.hamburger-open {
		.mobile-header {
			left: 77%;
		}
		.everything {
			display: block;
			position: fixed;
			width: 100%;
			top: 0;
			left: 77%;
		}
		.hamburger {
			display: block;
			position: fixed;
			width: 77%;
			height: 100%;
			top: 0;
			left: 0;
			background: $BLUE;
			padding-top: 12px;
			.menuitem {
				text-align: center;
				display: block;
				width: 100%;
				padding: 10px;
				color: white;
				line-height: 26px;
  			font-size: 18px;
				&:hover {
					background-color: darken($BLUE, 5%);
				}
			}
			.socialIcons {
				margin-top: 20px;
				a i {
					width: 30px;
					height: 30px;
					line-height: 30px;
					background-color: white;
					color: $BLUE;
				}
				text-align: center;
			}
			hr {
				border-bottom: 1px solid rgba(255,255,255,0.4);
				  border-top: none;
				  width: 90%;
			}
		}
	}
}

img.chipmonk {
	position: absolute;
    left: 15px;
    bottom: 0;
    height: 60px;
    &.bounceInUp {
  		animation-name: bounceInUp;
  		animation-duration: 1s;
  		animation-delay: 0s;
	}
}

@keyframes bounceInUp {

  0%, 60%, 75%, 90%, 100% {	
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, 0px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}


/*
.hexagon {
	position: absolute;
	top: 14px;
	left: 16px;
  width: 30px;
  height: 17.32px;
	background-color: $BLUE;
  margin: 8.66px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
	left: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid $BLUE;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid $BLUE;
}
*/