@import "static/scss/_reset";
@import "static/scss/_responsive";

$BLUE: #64C7CC;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: red;
}

$header_height: 120px;

/*------------------------------*/
body {
	font-family:'Roboto', "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}
.everything {
	@include on-tablet-desktop {
		padding-top: $header_height;
	}
}
.frame900 {
	margin: 0 auto; /*(horizatal center align)*/
}
@include on-desktop {
	.frame900 {
		max-width: 1150px;
	}
}
@include on-tablet {
	.frame900 {
		max-width: 90%;
   	}
}
@include on-mobile {
	.frame900 {
		width: 100%;
	}
}


@include on-mobile {
	.content {
		padding-top: 66px;
	}
}


@include on-tablet-desktop {
	.header {
		$height: 150px;
		position: fixed;
		top: 0;
    	left: 0;
		width: 100%;
		height: $header_height;
		background: white;
		.logo {
			font-family: 'Pacifico', cursive;
			height: $header_height;
			line-height: $header_height;
			font-size: 26px;
    		color: #1E1E1E;
		}
		.frame900 {
			position: relative;
		}
		.navi {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			height: $header_height;
			line-height: $header_height;
			text-align: right;
			list-style-type: none;
			margin: 0;
			padding: 0;
			vertical-align: middle;
		}
		.navi li {
			display: inline-block;
		}
		.navi li a {
			height: $header_height;
			line-height: $header_height;
			padding: 8px 4px 8px 10px;
			text-decoration: none;
			font-size: 14px;
			color: #393A39;

		}
		.navi li a:hover {
			color: red;

		}
	}
}
.line {
	border-top: 1px dotted gray;
}
.topCopy{
	text-align: center;
    font-size: 24px;
    max-width: 694px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 1.5em;
    color: #4A4A4A;
    display: block;
    padding: 30px 0;
    @media (max-width: 600px) {
		margin-top: 0px;
    	font-size: 16px;
    	padding: 54px 25px;
	}
}
.topTag {
	display: block;
	position: relative;
    width: 600px;
    height: $header_height;
    line-height: $header_height;
    vertical-align: middle;
	text-align: center;
	margin: 0 auto;

	@media (max-width: 600px) {
		margin-top:0px;
	}
}
.topTag li {
	display: inline-block;
	list-style-type: none;
	color: #A3A3A3;
	font-size: 13px;
}
.topTag li a {
	font-size: 13px;
	font-weight:100;
	text-decoration: none;
	color: #545454;
	text-transform: uppercase;
	cursor: pointer;
	padding: 0px 10px;

	@media (max-width: 600px) {
		display: none;
	}

}
.topTag li a:hover{
	color: red;
}
body.scrolled-down {
	.topTag {
	    position: fixed;
	    top: 0;
        left: 50%;
	    margin-left: -300px;
	}
	.works {
		padding-top: $header_height;
	}
}
.socialIcons {

	vertical-align: middle;

	font-weight:600;
	font-size: 14px;

	text-align: center;

	.fa{
		display: inline-block;
		width: 23px;
		height: 23px;
		line-height: 23px;
		text-align: center;
		background:#c0bebe;
		border-radius: 100%;
		margin: 0 2px;
		color: white;

	}
	.fa-dribbble{
		background-color:#CACACA;
	}
	.fa-dribbble:hover{
		background-color:#e55757;
	}
	.fa-instagram{
		background-color:#CACACA;
	}
	.fa-instagram:hover{
		background-color:#e66c13;
	}
	.fa-linkedin{
		background-color:#CACACA;
	}
	.fa-linkedin:hover{
		background-color:#1869a7;
	}
	.fa-github-alt{
		background-color:#CACACA;
	}
	.fa-github-alt:hover{
		background-color:#44b4b5;
	}
	.fa-coffee{
		background-color:#CACACA;
	}
	.fa-coffee:hover{
		background-color:#2689bc;
	}
	.fa-flickr{
		background-color:#CACACA;
	}
	.fa-flickr:hover{
		background-color:#eb3862;
	}
}
.socialIcons-about {
	vertical-align: middle;
	color: #ffffff;
	font-weight:600;
	font-size: 14px;

	.fa{
		display: inline-block;
		width: 23px;
		height: 23px;
		line-height: 23px;
		text-align: center;
		background:#c0bebe;
		border-radius: 100%;
		color: white;
		margin: 0 2px;
	}
	.fa-dribbble{
		background-color:#f37d7d;
	}
	.fa-dribbble:hover{
		background-color:#e55757;
	}
	.fa-instagram{
		background-color:#f5a062;
	}
	.fa-instagram:hover{
		background-color:#e66c13;
	}
	.fa-linkedin{
		background-color:#79afd9;
	}
	.fa-linkedin:hover{
		background-color:#1869a7;
	}
	.fa-github-alt{
		background-color:#73c8c9;
	}
	.fa-github-alt:hover{
		background-color:#44b4b5;
	}
	.fa-coffee{
		background-color:#67b3db;
	}
	.fa-coffee:hover{
		background-color:#2689bc;
	}
	.fa-pagelines{
		background-color:#f1a2b4;
	}
	.fa-pagelines:hover{
		background-color:#eb3862;
	}
}
@include on-tablet-desktop {
	.works{
		text-align:justify;
	}
	.work{
		width: 32%;
		height: 304px;
		display:inline-block;
		margin-bottom: 14px;
		vertical-align: bottom;
		&.hidden {
			display: none !important;
		}
	}
	.dummywork {
		display: inline-block;
		width: 32%;
	}
}
@include on-mobile {
	.work {
		width: 100%;
		&.hidden {
			display: none !important;
		}
	}
}
.coverImage{
	display:block;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 250px;
	border:1px solid rgb(243, 243, 243);
}
.coverImage:hover{
	box-shadow: 0px 313px rgba(255, 0, 92, 0.6) inset;
}
a.projectName {
	text-align:center;
	font-weight: 100;
	font-size: 14px;
	color:#545454;
	margin-top:16px;
	display: inline-block;
	width: 100%;
	@include on-mobile {
		margin-bottom: 48px;
	}
}
.footer{
	height: 160px;
	border-top: 1px dotted gray;
	padding-top: 16px;
	font-size: 13px;
	font-weight: 300;
	display: block;
	position: relative;
	@include on-mobile {
//		padding-top: 60px;
		text-align: center;
	}

	.socialIcons {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 16px;
		@include on-mobile {
			display: none;
		}
	}
}

/*----------project page--------------------*/
.projectImage {
	width: 100%;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 0 18px 0;
	border:1px solid rgb(243, 243, 243);
}
.projectName:hover{
	color:black;
}
.goBack{
	float:left;
	font-weight:800;
	font-size:12px;
	color: #a8a8a8;
	padding-bottom: 15px;
}
.goNext{
	float:right;
	font-weight:800;
	font-size:12px;
	color: #a8a8a8;
	padding-bottom: 15px;
}
.project {
	margin-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	.imagePlace {
		width: 68%;
		float: left;
		@include on-desktop {
			width: 60%;
			float: left;
		}
		@media (max-width: 600px) {
			display: block;
			width: 100%;
		}
		p {
			padding: 0 0 8px 0;
		}
		.video {
			margin: 0 0 18px 0;
			iframe {
				width: 100%;
				min-height: 400px;
			}
		}
	}
	.description {
		width: 30%;
		padding: 0px 0px 8px 0px;
		color: #2f2f2f;
		float: right;
		text-align: left;
		@include on-desktop {
			width: 38%;
			float: right;
		}

		@media (max-width: 600px) {
			width: 100%;
			display: block;
		}

		h1 {
			font-weight: 500;
			font-size: 26px;
			padding: 0 0 13px 0;
			color: #1b1b1b;
		}
		h2 {
			font-weight:300;
			font-size: 13px;
			font-style:italic;
			color:#848484;
		}
		.dottedline {
			height: 0px;
			border-top: 1px dotted gray;
			margin: 20px 0;
		}
		p {
			font-weight: 300;
			font-size: 16px;
			padding: 0 0 10px 0;
			line-height:1.6em;
			color: #424242;
		}
	}
}

.hamburger {
	display: none;
}
@include on-tablet-desktop {
	.mobile-header {
		display: none;
	}
}
@include on-mobile {
	.topTag {
		display: none;
	}
	.header {
		display: none;
	}
	.mobile-header {
		display: block;
		position: fixed;
		overflow: hidden;
	  width: 100%;
	  left: 0;
	  top: 0;
		background: white;
		text-align: center;
		line-height: 66px;
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
		a {
			vertical-align: middle;
			line-height: 66px;
		    font-family: 'Pacifico', cursive;
   			font-size: 24px;
    		color: #1E1E1E;
		}
	}
	.hamburger-open {
		.mobile-header {
			left: 77%;
		}
		.everything {
			display: block;
			position: fixed;
			width: 100%;
			top: 0;
			left: 77%;
		}
		.hamburger {
			display: block;
			position: fixed;
			width: 77%;
			height: 100%;
			top: 0;
			left: 0;
			background: $BLUE;
			padding-top: 12px;
			.menuitem {
				text-align: center;
				display: block;
				width: 100%;
				padding: 10px;
				color: white;
				line-height: 26px;
  			font-size: 18px;
				&:hover {
					background-color: darken($BLUE, 5%);
				}
			}
			.socialIcons {
				margin-top: 20px;
				a i {
					width: 30px;
					height: 30px;
					line-height: 30px;
					background-color: white;
					color: $BLUE;
				}
				text-align: center;
			}
			hr {
				border-bottom: 1px solid rgba(255,255,255,0.4);
				  border-top: none;
				  width: 90%;
			}
		}
	}
}

img.chipmonk {
	position: absolute;
    left: 15px;
    bottom: 0;
    height: 60px;
    &.bounceInUp {
  		animation-name: bounceInUp;
  		animation-duration: 1s;
  		animation-delay: 0s;
	}
}

@keyframes bounceInUp {

  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, 0px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.blog{
	display: flex;
	flex-direction: column;
	align-items: center;
	.blogText{
		width: auto;
		max-width: 660px;
		@include on-mobile {
			width: auto;
			margin-left: 16px;
			margin-right: 16px;
		}

}

	h1{
		text-align: center;
		font-size: 26px;
		max-width: 660px;
		margin-top: 40px;
		font-weight: 500;
		line-height: 1.5em;
		color: #1b1b1b;
		display: block;
		padding: 30px,0,0,0;
	}
	h2{
		text-align: center;
		font-size: 13px;
		max-width: 660px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.5em;
		color: #848484;
		display: block;
		font-style: italic;
	}
	p{
		font-weight: 300;
		font-size: 16px;
		padding: 20px 0 10px 0;
		color: #424242;
		line-height: 1.6em;

		&.bold{
			color: #424242;
			font-weight: 500;
		}
	}
}

.blogHeroImage{
	width: 100%;
	max-width: 1140px;
}
.youtube-video {
	width: 880px;
	height: 480px;
	margin-top: 20px;
	margin-bottom: 20px;
	@include on-mobile {
		width: 100%;
		height: 42vw;
		margin-left: 16px;
		margin-right: 16px;
	}
	@include on-tablet{
		width:660px;
	}

}
.about-author{
	max-width: 660px;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	margin-bottom: 40px;
	@include on-mobile {
		flex-direction: column;
	}
}
.blog-right{
	text-align: left;
	margin-left: 40px;
	@include on-mobile{
		margin-left: 16px;
		margin-right: 16px;
	}
	h1{
		text-align: left;
		margin-top: 0;
		@include on-mobile{
			margin-top:20px;
			text-align: center;
		}
	}
}
.author-image{
	max-width: 353px;
	@include on-mobile{
		width: 100%;
		max-width: 1000px;

	}
}
/*
.hexagon {
	position: absolute;
	top: 14px;
	left: 16px;
  width: 30px;
  height: 17.32px;
	background-color: $BLUE;
  margin: 8.66px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
	left: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 8.66px solid $BLUE;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 8.66px solid $BLUE;
}
*/
