{% extends "project.html" %}

{% block description %}
	<h1> BarkCam Stickers </h1>
	<h2> Stickers! Fun and sweet stickers. </h2>
	<div class="dottedline"></div>
	<p> 
		I had lots of fun hand drawing these stickers and making them avalible in BarkCam app. Now you can take a photo and dress it up with these awesome stickers. So much fun!
	</p>
	
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm1.staticflickr.com/492/20239318875_f728bc6520_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/255/19618362893_72ceccaa94_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/509/20051291050_60af7f5a57_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/349/20051307288_176a7ec2de_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/459/20231049942_a8b975d7fd_b.jpg">
{% endblock images %}