{% extends "project.html" %}

{% block description %}
	<h1> BarkCam </h1>
	<h2> A camera app to make your pup next star!</h2>
	<div class="dottedline"></div>
	<p> Everytime you try to take a photo of your dogs, they just won't look at the camera. With BarkCam, you can choose a sound from door bell to postman knocking on the door to make sure your dogs look at the camera with their cutest face! </p>
	<p> You can also choose dog approved filters, stickers, speech bubble to craft the photo.</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm6.staticflickr.com/5558/14760448338_f79ace2f76_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3910/14946710482_8e239862ce_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3877/14943969661_e2c0467456_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3864/14943968691_276bb9002a_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14760513917_550b6b8898_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14924072506_d91abe08c6_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5564/14946994022_52f6ba4fd2_b.jpg">
{% endblock images %}



