{% extends "project.html" %}

{% block description %}
	<h1> BarkPost app </h1>
	<h2> Read doggy news from your paw </h2>
	<div class="dottedline"></div>
	<p> 
		I designed this app for BarkPost. Now you can read all posts about dogs from your paws. Download and try it out from Itune store <a href="https://itunes.apple. 
		com/us/app/barkpost/id917451712?mt=8">here.</a>
	</p>
	
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm1.staticflickr.com/559/20052270090_3aa0de5686_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/286/20052287058_4fa6e403b8_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/554/20052287858_f5629ec76a_o.jpg">
{% endblock images %}