{% extends "project.html" %}

{% block description %}
	<h1> BarkCare app design </h1>
	<h2> Home visit vet service for busy dogs  </h2>
	<div class="dottedline"></div>
	<p> 
		
	</p>
	
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3911/15021186471_4f4850d94e_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3862/14837721717_3711f25c51_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5553/14837522339_34e56178d3_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5572/15001251006_9d44a93998_b.jpg">
{% endblock images %}