{% extends "project.html" %}


{% block description %}
	<h1> E-Motion </h1>
	<h2> Make interaction visible </h2>
	<div class="dottedline"></div>
	<p> 
		The chair will show its emotion whit it's lights inside. The chair will blink” hello” when someone passes by, feel happy when someone sit on, and feel sad when they leave. If there is no people walks around, it will fall back to sleep.
	</p>
	<p> Working prototype is build with LED strips and piezo sensor, controlled with Arduino. It is exhibited on “Design Diversity”, London 2010.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm5.static.flickr.com/4085/4992555539_01e8397ef5.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4106/4992560651_7a04bc97eb.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4129/4993165786_2758273f0b.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4147/4993165392_d0b1a7ce34.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4086/4992556933_b9bf53ed03.jpg">
{% endblock images %}


