{% extends "project.html" %}


{% block description %}
	<h1> Tabularasa </h1>
	<h2> Hand crafted digital messages </h2>
	<div class="dottedline"></div>
	<p> 
		The heartB is a telepresence device can send your heartbeat to the paired device. The user can also use it to communicate in real time by drawing or writing with their fingers on the surface of the device.
	</p>
	<p> An installation scale of HeartB is exhibited during the RCA intern show.</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm7.static.flickr.com/6197/6098079165_a2fc82a952.jpg">
	<img class="projectImage" src="http://farm6.static.flickr.com/5043/5251943326_a2b12885fc.jpg">
	<img class="projectImage" src="http://farm5.static.flickr.com/4145/5199641637_26c89760f6.jpg">
	<img class="projectImage" src="http://farm6.static.flickr.com/5170/5199640711_92653206e8.jpg">
	<img class="projectImage" src="http://farm5.static.flickr.com/4148/5200228586_c0aa09d833.jpg">
{% endblock images %}
