{% extends "project.html" %}

{% block description %}
	<h1> Lemonaid </h1>
	<h2> Make sweet lemonade</h2>
	<div class="dottedline"></div>
	<p> 
		After ream five to seven lemons, the reamer will dissolve.
	</p>
	<p> 
		The wood handle and then be used to stir and make tasty lemonade. Lemonaid is a lemon juicer made from sugar. The project was a collaboration with Alicia Tam and Kunal Nandi.
	</p>
	<p>
		Lemon+Aid was a finalist in the 2011 What’s Bubbling Kitchen Tools competition.It was also shortlisted for the 2010 Oneoff Food Design competition.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm2.static.flickr.com/1101/5111828846_a271eb722e.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4087/4993197976_37669f9005.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4087/4992591327_acc51ac869.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4144/4993198844_c06baef355.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4144/4993198844_c06baef355.jpg">
	<div class="video">
		<iframe src="http://player.vimeo.com/video/12594638" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% endblock images %}
