{% extends "project.html" %}

{% block description %}
	<h1> No more NFL </h1>
	<h2> Join us!  </h2>
	<div class="dottedline"></div>
	<p> 
		Players abuse their spouses and family members with little recourse. League veterans suffer from concussions as a workplace hazard with few changes ahead. Cheerleaders don't even make minimum wage. To top it all, off, the NFL doesn't even pay taxes. We made this site to ask people to join us to take actions: http://nomorenfl.org/ 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm8.staticflickr.com/7330/16237209187_a0c5454112_b.jpg">
	
{% endblock images %}