{% extends "project.html" %}

{% block description %}
	<h1> Drawings </h1>
	<h2> Let's draw everything in this world. </h2>
	<div class="dottedline"></div>
	<p> 
		Rammo Jammo is a collaborative project with Yoon Bakh.  
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm6.staticflickr.com/5565/14726685291_37aa464ae2.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3905/14726685901_dd7b1c43c0.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5563/14749728283_f1c3162203.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3836/14737361655_2a6833c178.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3921/14727497434_81c5c2d012.jpg">	
	<img class="projectImage" src="https://farm3.staticflickr.com/2911/14706872696_c01f9e7b40.jpg">	
{% endblock images %}

