{% extends "project.html" %}

{% block description %}
	<h1> Report UI </h1>
	<h2> Perceive shape and volume </h2>
	<div class="dottedline"></div>
	<p> 
		A few data visualization/reporting tools designed to interface with big data.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm3.staticflickr.com/2897/14727605844_f98b00c09d.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3892/14558717588_de5e5f6691.jpg">
{% endblock images %}

