{% extends "project.html" %}

{% block description %}
	<h1> Snowflake </h1>
	<h2> A modular system for various indoor usages</h2>
	<div class="dottedline"></div>
	<p> 
		Snowflake was inspired by nature and the way snowflake grows and interact within a group.The modularity and customization allow various compositions. It could be a fruit plate, a chandelier or a sculpture in different in door environment.
	</p>
	<p> The full scale prototype has been exhibited during London Design Festival 2010.</p>
{% endblock description %}

{% block images %}
		<img class="projectImage" src="http://farm7.static.flickr.com/6184/6095092752_367cf66be0.jpg">
		<img class="projectImage" src="http://farm2.static.flickr.com/1417/5124500000_c2e7052558.jpg">
		<img class="projectImage" src="http://farm7.static.flickr.com/6080/6095242904_7afebf3d81.jpg">
{% endblock images %}

