{% extends "project.html" %}

{% block description %}
	<h1> Tool </h1>
	<h2> UI/UX design. </h2>
	<div class="dottedline"></div>
	<p> 
		A website designed for various javascript based tools.
		I helped them designed the whole website as well as designing the icons.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3863/14543329258_a698f8b97d_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2928/14706973776_b8fbbd45f9_b.jpg">
{% endblock images %}
