{% extends "project.html" %}

{% block description %}
	<h1> 3D2D </h1>
	<h2> Perceive shape and volume </h2>
	<div class="dottedline"></div>
	<p> 
		3D2D is a machine that transform a 3D object in to a 2D painting with abstract round dots. The surface of the object will give different pressure to the pens to make the sizes of the dots different. It is an experiment looking for another way to perceive shape and volume. The project was a collaboration with Charlotte Christoffersen and Santiago Ortega Haboud.
	</p>
	<p> It was exhibited in RCA intern show “Design Diversity”, London, 2010.</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm5.static.flickr.com/4083/4992594515_4f7b681095.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4105/4992568627_74febb3ec0.jpg">
	<img class="projectImage" src="https://farm5.staticflickr.com/4088/4993171216_aca8a7eb73.jpg">
{% endblock images %}