{% extends "project.html" %}

{% block description %}
	<h1> Art </h1>
	<h2> Art journals and sketchbooks </h2>
	<div class="dottedline"></div>
	<p>Various paintings with gouache, acrylic, pen and ink.</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm7.static.flickr.com/6206/6110884458_c6c4d97ab8.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6188/6110336375_f6471b7804.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6081/6110337919_f6f7c9a70f_b.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6063/6110882438_100f76818e_b.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6083/6110886390_9a2ae69c10.jpg">
{% endblock images %}
