{% extends "project.html" %}

{% block description %}
	<h1> BarkPost app </h1>
	<h2> UX / UI  </h2>
	<div class="dottedline"></div>
	<p>
		BarkPost.com is a blog all about dogs. It has over 10 million monthly page views and over
		8 million monthly uniques visitors. Now we want to bring all those amazing contents to the paw
		of our readers. Working closely with the product manager and development team, we designed and
		build the app for the IOS platform. 
	</p>


{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm1.staticflickr.com/559/20052270090_3aa0de5686_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/769/21224129015_05ddd808e3_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/619/21224131085_77aa89aa0f_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/286/20052287058_4fa6e403b8_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/554/20052287858_f5629ec76a_o.jpg">

{% endblock images %}
