{% extends "project.html" %}

{% block description %}
	<h1> BarkCam </h1>
	<h2> UX / UI / Art direction</h2>
	<div class="dottedline"></div>
	<p>
		BarkCam is a fun app to take photos of your dogs.
		The problem was that every time you try to take a photo of them, they just won't look at the camera. With BarkCam, you can choose any sound from a grumpy cat to a dinosaur roar to make sure your dogs look at the camera with their cutest faces!
	</p>
	<p>
		After that, you can also choose all sorts of filters, stickers, speech bubble to decorate the photos.
	</p>
	<p>
		I’ve handcrafted this app from user experience to all the UI work including every icons and stickers. I've also art directed the branding materials including logo, photos and promotional collateral.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm6.staticflickr.com/5558/14760448338_f79ace2f76_b.jpg">
	<!-- logo -->
	<img class="projectImage" src="https://farm6.staticflickr.com/5701/21173728706_757f41159d_k.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3910/14946710482_8e239862ce_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3877/14943969661_e2c0467456_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3864/14943968691_276bb9002a_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14760513917_550b6b8898_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14924072506_d91abe08c6_b.jpg">

{% endblock images %}
