{% extends "project.html" %}

{% block description %}
	<h1> BarkCam </h1>
	<h2> UX / UI / Art direction </h2>
	<div class="dottedline"></div>
	<p>
		BarkCam is a fun app to take photos of your dogs.
	</p>
	<p>
		Let's face it, how many times have you try to take a photo of them,
		the moment you press the button - they are looking at somewhere else?
		But not with BarkCam. You can choose any sound from a grumpy cat to a
		crinkly bag to make sure your dogs look at the camera with their cutest faces!
	</p>
	<p>
		After that, you can also choose all sorts of filters, stickers, speech bubble to decorate the photos. 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm6.staticflickr.com/5558/14760448338_f79ace2f76_b.jpg">
	<!-- logo -->
	<img class="projectImage" src="https://farm6.staticflickr.com/5701/21173728706_757f41159d_k.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3910/14946710482_8e239862ce_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3877/14943969661_e2c0467456_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3864/14943968691_276bb9002a_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14760513917_550b6b8898_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3886/14924072506_d91abe08c6_b.jpg">

{% endblock images %}
