{% extends "project.html" %}

{% block description %}
	<h1> BarkPost app </h1>
	<h2> UX UI design for iOS app </h2>
	<div class="dottedline"></div>
	<p>
		BarkPost.com is a blog all about dogs. It has over 10 million monthly page views and over 8 million monthly uniques visitors.  Now we want to bring all those amazing contents to the paw of our readers.
	</p>
	<p> 
		The biggest challenge for designing this app is to balance a clean and smooth user experience and business need. I’ve helped wiring out user flows as well as crafting the user interface. Now it’s finally out on the shelf! Download and try it out from Itune store <a href="https://itunes.apple.com/us/app/barkpost/id917451712?mt=8">here.</a>
	</p>
	
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm1.staticflickr.com/559/20052270090_3aa0de5686_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/769/21224129015_05ddd808e3_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/619/21224131085_77aa89aa0f_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/286/20052287058_4fa6e403b8_o.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/554/20052287858_f5629ec76a_o.jpg">

{% endblock images %}