{% extends "project.html" %}

{% block description %}
	<h1> BarkBuddy </h1>
	<h2> Tinder for dogs </h2>
	<div class="dottedline"></div>
	<p> 
		Find fluffy singles in your area. BarkBuddy connects you with cute pups that need a home. 
		I have helped design the website and park of the app UI.
	</p>
	
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3912/14818480780_2be8601792_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5575/15002130341_40fd21ddd7_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3914/15004850222_0bd51dc1fe_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5581/15002033901_4bd3f0cae9_b.jpg">
{% endblock images %}