{% extends "project.html" %}

{% block description %}
	<h1> BarkCare </h1>
	<h2> UX / UI  </h2>
	<div class="dottedline"></div>
	<p>
		BarkCare provides home veterinarian service for dogs. Customers can schedule home visit appointments
		through the app or have FaceTime video chat with the veterinarian. The app also helps to store their
		dogs’ medical records and send reminders for expiring vaccines.
	</p>

{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3911/15021186471_4f4850d94e_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5806/21037873699_e9fa855147_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3862/14837721717_3711f25c51_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5553/14837522339_34e56178d3_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5572/15001251006_9d44a93998_b.jpg">
{% endblock images %}
