{% extends "project.html" %}


{% block description %}
	<h1> Tabularasa </h1>
	<h2> Hand crafted digital messages </h2>
	<div class="dottedline"></div>
	<p> 
		China has a lengthy, rich and varied cultural heritage. How can this be transferred and developed into modern design objects? This project is about finding the essence of “Chinese-ness”, and how that unique element can be embodied in design outcomes, so that they pay tribute to the past whilst also looking to the future.
	</p>
	<p> The outcome of this project is an experimental music player that embodies “hanxu” in different layers.
	</p>
	<p>
		Hanxu is the art of language, an indirect way of communication.
	</p>
	<p>
		It is widely used in Chinese literature and poems. As a literature method, it is considered to be more tasteful and elegant. In this context, it is about playing with different senses of the human body. Words can be used to describe certain feelings, but by matching them with unrelated senses, things can be expressed indirectly. For example, ‘smelling the music’ could deliver this totally new experience to an audience who cannot physically experience it but can imagine it. In a good hanxu poem, the reader reads between the lines and gets beyond them.
	</p>
	<p>
		During a conversation, to gain deeper understanding, people need to process non-verbal communication such as hand gestures and facial expressions. Therefore, both sides have to have the skill to observe and absorb all different kinds of information from each other to react accordingly.
	</p>
	<p>
		To interact with the music player, the user will implement their surroundings as the media. By picking up colours and patterns from the immediate environment, they will give the player hints which it will interpret and adjust its playlist accordingly.
	</p>
	<p>
		The music player will observe and learn from the user’s subtle body language to learn if the user likes the music, and will suggest tracks along simlar lines. Therefore, it will grow with the user, and the more it is used, the smarter it will be.
	<p>
		The goal of this project is not to point out the aesthetic differences between a Chinese music player and a Western one, but to emphasise how a unique philosophical cultural concept can be embodied in a design outcome.
	</p>	
	<p>
		This project would be considered a good case study for cultural transfer research. It offers a different option, supplies another angle and evokes further discussion.
		
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm7.static.flickr.com/6083/6101874914_f39c5e9c45.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6070/6101874770_04c01cef1f.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6073/6101327231_e6c60dc88a.jpg">
	<img class="projectImage" src="https://farm7.staticflickr.com/6078/6101874362_6694597878.jpg">
	<img class="projectImage" src="https://farm7.staticflickr.com/6088/6101874140_6c7600aa87.jpg">
		
{% endblock images %}

