{% extends "project.html" %}

{% block description %}
	<h1> Medusa light </h1>
	<h2> Personal lighting solution for space hotel</h2>
	<div class="dottedline"></div>
	<p>
		A serious comforting personal lamp that can be used to create a visual focal point and provide task lighting. Lamps can be grouped together to illuminate shared space.
	</p>
	<p>
		This project was a collaboration with Alicia Tam and Jessi Baker. Physical models were exhibited during London Design Festival 2010.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm2.static.flickr.com/1333/5131921939_4dbf91d3e2.jpg">
	<img class="projectImage" src="http://farm5.static.flickr.com/4002/5132525460_379f9606c9.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6084/6095407000_e075c2ab06.jpg">
{% endblock images %}
