{% extends "project.html" %}

{% block description %}
	<h1> Opentag </h1>
	<h2> UI/UX / Art direction </h2>
	<div class="dottedline"></div>
	<p>
		Opentag is a tag management tool for javascript technologies.
Here the user can add or remove tags as well as search and browse third-party tag technologies.
	</p>
	<p>
		Besides Opentag, I also worked on various related websites and tools to provide educations
		and documentation for developers to learn and implement Universal Variable into their clients' websites.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3859/14543328228_b017133a2d_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5573/14729973755_a22f8685f9_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2900/14727606314_ce00be9cdb_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3843/14729690842_9a3c349744_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3925/14543332299_84a05e12e6_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3863/14543329258_a698f8b97d_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2928/14706973776_b8fbbd45f9_b.jpg">
{% endblock images %}
