{% extends "project.html" %}

{% block description %}
	<h1> Opentag </h1>
	<h2> UI design </h2>
	<div class="dottedline"></div>
	<p>
		Opentag is a tag managment tool for javascript technologies.
	</p>
	<p>
		I was briefed to redesign the site according to their new branding guidelines.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3859/14543328228_b017133a2d_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5573/14729973755_a22f8685f9_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2900/14727606314_ce00be9cdb_b.jpg">
{% endblock images %}
