{% extends "project.html" %}

{% block description %}
	<h1> Qubit Platform </h1>
	<h2> UI/UX design. </h2>
	<div class="dottedline"></div>
	<p> 
		Qubit Platform is a browser based tool for web analysis and personalization. 
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3903/14551308727_aa5053200c_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3856/14543300860_5fd491b8a4_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3911/14706972776_878015068c_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2936/14543327388_2647ea5c93_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3870/14729685522_22c1ef2c37_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3859/14543332009_a15f1e350b_b.jpg">
{% endblock images %}

