{% extends "project.html" %}

{% block description %}
	<h1> Qubit Platform </h1>
	<h2> UI/UX design. </h2>
	<div class="dottedline"></div>
	<p>
		Great brands are built on experiences that surprise and delight the customer.
		In our digital world, those experiences now happen in fractions of a second.
	</p>
	<p>
		Qubit allows marketers to get insights of online visitors and serve them personalized content at scale.
	</p>
	<p>
		In the Discovery phase, Qubit uses event-based customer data collection to collect visitor insights.
		Then in the Delivery phase, Qubit serves the right content to the visitors at the right time by
		combining user behavior, data analytics, and machine learning.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3903/14551308727_aa5053200c_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3856/14543300860_5fd491b8a4_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3911/14706972776_878015068c_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2936/14543327388_2647ea5c93_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3870/14729685522_22c1ef2c37_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3859/14543332009_a15f1e350b_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2897/14727605844_f98b00c09d_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3892/14558717588_de5e5f6691_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3873/14745306885_86c262255d_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3909/14742130691_197327efbf_b.jpg">
{% endblock images %}
