{% extends "project.html" %}

{% block description %}
	<h1> Shapes </h1>
	<h2> Play with Gravity </h2>
	<div class="dottedline"></div>
	<p>
		These sculptures are made in a specific process where we define the constraints with fabric and thread, and the gravity defines the final shapes.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3841/14749506623_3c98fe9ebf_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5557/14726474501_b3ff2a3e51_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3856/14727309284_c3f61bdc6d_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3904/14543042428_f8f14d5898_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3916/14727355674_5d2c8b8ac0_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2924/14543285027_ccabd9114b_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3891/14729447552_a3d2b44490_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3836/14729393162_104588507b_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3881/14726491741_43de9242f6_b.jpg">
	<img class="projectImage" src="https://farm6.staticflickr.com/5591/14749498033_a92dfab252_b.jpg">


{% endblock images %}
