{% extends "project.html" %}

{% block description %}
	<h1> Tabula Rasa </h1>
	<h2> Hand crafted digital messages </h2>
	<div class="dottedline"></div>
	<p>
		Tabula Rasa is a unique technology based concept that utilizes existing technology in an innovative way to deliver a personalized and more natural interface for personal communication. Today’s fast-paced system of communication has forgotten the joys and qualities that once enriched the personal communication experience.
	</p>
	<p>
		Tabula Rasa provides added dimensionality to existing communication such as short messaging over mobile networks. It brings physicality to the interface and also allows the user to immerse in the endearing process of sending and receiving a personally crafted message.
	</p>
	<p>
		Tabula Rasa thrives on user-centered design through a seamless integration in three core areas: existing communication technologies like smart phones, life style objects like furniture and with elements of the natural world like a sand interface.
	</p>
	<p>
		Tabula Rasa allows an exploration into the potential of connecting lifestyle objects (such as a coffee-table) over existing communication networks. However, what makes it unique is that it inspires experimentation of interfaces composed of more natural materials and a discovery of more ephemeral ways in which we can communicate.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm6.static.flickr.com/5135/5415961689_9beb9d7627.jpg">
	<img class="projectImage" src="http://farm5.static.flickr.com/4151/5415966923_7a89f9253a.jpg">
	<img class="projectImage" src="http://farm5.static.flickr.com/4145/5415964025_1a37b8d9e9.jpg">
	<img class="projectImage" src="http://farm6.static.flickr.com/5058/5415959825_a7ef68acf6.jpg">

	<div class="video">
		<iframe src="http://player.vimeo.com/video/19610304" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="video">
		<iframe src="http://player.vimeo.com/video/18986018" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
{% endblock images %}
