{% extends "project.html" %}

{% block description %}
	<h1> The Lord of the Rings </h1>
	<h2> Stuff I have made for it</h2>
	<div class="dottedline"></div>
	<p>
		I am a big fan of The lord of the rings, and here are some stuff I made. A laser cut lantern, a leaf clip and some more drawings.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="http://farm7.static.flickr.com/6066/6110880278_e415427101_b.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6204/6110880604_7ea917fe7e_b.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6192/6110335595_27aa96b80f_b.jpg">
	<img class="projectImage" src="http://farm7.static.flickr.com/6064/6110885816_d51a1556f2_b.jpg">
{% endblock images %}
