{% extends "project.html" %}

{% block description %}
	<h1> UV Tool </h1>
	<h2> UI/UX design. </h2>
	<div class="dottedline"></div>
	<p>
		Universal Variable is the key to enable tracking user behavior on websites. This UV tool website is created to provide educations and documentations for developers to learn and implement Universal Variable into their clients' websites. Along with the website design, I also worked with product team to design and build a javascript based tool for debugging.
	</p>
{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3843/14729690842_9a3c349744_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3925/14543332299_84a05e12e6_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3863/14543329258_a698f8b97d_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2928/14706973776_b8fbbd45f9_b.jpg">
{% endblock images %}
