{% extends "project.html" %}

{% block description %}
	<h1> W3C tool site design </h1>
	<h2> UX / UI / Art direction </h2>
	<div class="dottedline"></div>
	<p> 
		The W3C Digital Data Standard brings all web technologies onto one single data model and allows technologies to plug-and-play, without the need for vast amounts of custom coding each time. 
	</p>
	<p> 
		I have helped them with Art direction including logo, color palette and brand language. I‘ve designed the whole website, including all the illustrations.
	</p>
	<p> 
		The biggest challenge while I was designing is to explain abstract technology with visual language, I needed to come up with metaphorical visual system that makes sense. The end result is a clean, fun, and easy to understand website which meet all the requirements.
	</p>

{% endblock description %}

{% block images %}
	<img class="projectImage" src="https://farm4.staticflickr.com/3850/14765356503_4776f725ff_b.jpg">
	<img class="projectImage" src="https://farm1.staticflickr.com/607/20603276613_41781e3930_b.jpg">
	<img class="projectImage" src="https://farm4.staticflickr.com/3890/14743144084_db5a42cb8f_b.jpg">
	
	<img class="projectImage" src="https://farm6.staticflickr.com/5558/14745501865_0c5035759d_b.jpg">
	<img class="projectImage" src="https://farm3.staticflickr.com/2933/14558849568_33c9ed05cc_b.jpg">
{% endblock images %}
