{% extends "base.html" %}
{% block content %}
<div class="project">
	<div class="description">
		<h1> About  </h1>
		
		<p> Jieting Tina Chen is a Ürümqi born and raised designer, after finishing her degree at Roral College of Art in London, she flew over the big pond to take a bite of the Big Apple. </p>
		<p> She loves crafting awesome user experience with technology both online and offline. She loves drawing and physical interactive art. If not working, she is probably on an adventure which involves dogs, food, drinks or photography.</p>
		<p></p>
		<h1> Follow here  </h1>	
		<div class="socialIcons-about">
			 <a href="https://dribbble.com/JietingTinaChen"><i class="fa fa-dribbble"></i></a>
			 <a href="http://instagram.com/jietingtinachen"><i class="fa fa-instagram"></i></a>
			 <a href="https://www.linkedin.com/in/jietingtinachen"><i class="fa fa-linkedin"></i></a>
			 <a href="https://github.com/jietingtinachen"><i class="fa fa-github-alt"></i></a>
			 <a href="http://jietingchen.tumblr.com/"><i class="fa fa-coffee"></i></a>
			 <a href="https://www.flickr.com/photos/jieting_tina_chen/"><i class="fa fa-flickr"></i></a>
		</div>
	</div>
	<div class="imagePlace">
		<img class="projectImage" src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/169531_10151473385651680_1028152899_o.jpg">
	</div>
</div>

{% endblock content %}
