{% extends "base.html" %}

{% block content %}
<div class="topTag">
<li class="filtertag" data-tag="all"><a >ALL</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="ui"><a >UI</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="ux"><a >UX</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="drawing"><a >Drawing</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="interactive"><a >Interactive</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="art"><a >Art</a></li> 
  <li>/</li>
  <li class="filtertag" data-tag="product-design"><a >Product design</a></li>
</div>
<div class="works">
	<div class="work tag-all tag-product-design tag-ui tag-ux">
		<a class="coverImage" href="/projects/tabularasa.html" style="background-image:url('http://farm6.static.flickr.com/5135/5415961689_9beb9d7627.jpg')">
		</a>
		<a class="projectName" href="projects/tabularasa.html">
			Tabula Rasa
		</a>
	</div>
	<div class="work tag-all tag-product-design tag-ui tag-ux">
		<a class="coverImage" href="/projects/barkcam.html" style="background-image:url('https://farm4.staticflickr.com/3857/14947059405_9d75a86c17.jpg')">
		</a>
		<a class="projectName" href="projects/barkcam.html">
			BarkCam
		</a>
	</div>
	<div class="tag-all work tag-product-design">
		<a class="coverImage" href="/projects/hanxu.html" style="background-image:url('http://farm7.static.flickr.com/6083/6101874914_f39c5e9c45.jpg')">
		</a>
		<a class="projectName" href="/projects/hanxu.html">
			Han Xu 
		</a>
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/w3c-tool.html" style="background-image:url('https://farm4.staticflickr.com/3850/14765356503_4776f725ff.jpg')">
		</a>
		<a class="projectName" href="/projects/w3c-tool.html" >
			W3C website design
		</a> 
	</div>
	<div class="tag-all work tag-product-design tag-ui tag-ux">
		<a class="coverImage"  href="/projects/isshare.html" style="background-image:url('http://farm2.static.flickr.com/1374/5112293133_f303d1e0a7.jpg')">
		</a>
		<a class="projectName" href="/projects/isshare.html">
			I.S.Share
		</a>
	</div>
	<div class="tag-all work tag-interactive">
		<a class="coverImage" href="/projects/dancing-shoes.html" style="background-image:url('http://farm7.static.flickr.com/6192/6098494544_4e7af4fa1f.jpg')">
		</a>
		<a class="projectName" href="/projects/dancing-shoes.html">
			Dancing Shoes
		</a>
	</div>
	<div class="tag-all work tag-product-design">
		<a class="coverImage" href="/projects/horizon-lighting-design.html" style="background-image:url('http://farm7.static.flickr.com/6187/6095234284_3fce146b1b.jpg')">
		</a>
		<a class="projectName" href="/projects/horizon-lighting-design.html">
			Horizon lighting design
		</a>
	</div>
	<div class="tag-all work tag-product-design">
		<a class="coverImage" href="/projects/medusalight.html" style="background-image:url('http://farm2.static.flickr.com/1333/5131921939_4dbf91d3e2.jpg')">
		</a>
		<a class="projectName" href="/projects/medusalight.html">
			Medusa light
		</a> 
	</div>
	<div class="tag-all work tag-product-design tag-interactive">
		<a class="coverImage" href="/projects/heartb.html" style="background-image:url('http://farm7.static.flickr.com/6197/6098079165_a2fc82a952.jpg')">
		</a>
		<a class="projectName" href="/projects/heartb.html" >
			HeartB
		</a> 
	</div>
	<div class="tag-all work tag-product-design" >
		<a class="coverImage" href="/projects/snowflake.html" style="background-image:url('http://farm7.static.flickr.com/6184/6095092752_367cf66be0.jpg')">
		</a>
		<a class="projectName" href="/projects/snowflake.html" >
			Snowflake
		</a> 
	</div>
	<div class="tag-all work tag-interactive tag-art">
		<a class="coverImage" href="/projects/3d2d.html" style="background-image:url('http://farm5.static.flickr.com/4083/4992594515_4f7b681095.jpg')">
		</a>
		<a class="projectName" href="/projects/3d2d.html" >
			3d2d
		</a> 
	</div>
	<div class="tag-all work tag-interactive" >
		<a class="coverImage" href="/projects/lemonaid.html" style="background-image:url('http://farm2.static.flickr.com/1101/5111828846_a271eb722e.jpg')">
		</a>
		<a class="projectName" href="/projects/lemonaid.html" >
			Lemonaid
		</a> 
	</div>
	<div class="tag-all work tag-product-design tag-interactive" >
		<a class="coverImage" href="/projects/emotion.html" style="background-image:url('http://farm5.static.flickr.com/4085/4992555539_01e8397ef5.jpg')">
		</a>
		<a class="projectName" href="/projects/emotion.html" >
			E-motion
		</a> 
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/opentag.html" style="background-image:url('https://farm4.staticflickr.com/3859/14543328228_b017133a2d.jpg')">
		</a>
		<a class="projectName" href="/projects/opentag.html" >
			Opentag
		</a> 
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/tool.html" style="background-image:url('https://farm4.staticflickr.com/3863/14543329258_a698f8b97d.jpg')">
		</a>
		<a class="projectName" href="/projects/tool.html" >
			Tool
		</a> 
	</div>

	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/tools-website.html" style="background-image:url('https://farm4.staticflickr.com/3843/14729690842_9a3c349744.jpg')">
		</a>
		<a class="projectName" href="/projects/tools-website.html" >
			Tool website
		</a> 
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/podcast.html" style="background-image:url('https://farm3.staticflickr.com/2935/14706972606_a51887d5e2.jpg')">
		</a>
		<a class="projectName" href="/projects/podcast.html" >
			Podcast app
		</a> 
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/motilo.html" style="background-image:url('https://farm6.staticflickr.com/5574/14722042416_7793c71601.jpg')">
		</a>
		<a class="projectName" href="/projects/motilo.html" >
			Motilo
		</a> 
	</div>
	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/qubit-lab.html" style="background-image:url('https://farm4.staticflickr.com/3835/14558662919_084df87767.jpg')">
		</a>
		<a class="projectName" href="/projects/qubit-lab.html" >
			Qubit Lab 
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/running-guinea.html" style="background-image:url('https://farm4.staticflickr.com/3900/14737122085_58cd5e7cac.jpg')">
		</a>
		<a class="projectName" href="/projects/running-guinea.html" >
			Running Guinea
		</a> 
	</div>

	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/rammo-jammo.html" style="background-image:url('https://farm6.staticflickr.com/5565/14726685291_37aa464ae2.jpg')">
		</a>
		<a class="projectName" href="/projects/rammo-jammo.html" >
			Rommo Jammo
		</a> 
	</div>

	<div class="tag-all work tag-ui tag-ux">
		<a class="coverImage" href="/projects/qubit-platform.html" style="background-image:url('https://farm4.staticflickr.com/3903/14551308727_aa5053200c.jpg')">
		</a>
		<a class="projectName" href="/projects/qubit-platform.html" >
			Qubit Platform
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/sakura.html" style="background-image:url('http://farm7.static.flickr.com/6206/6110884458_c6c4d97ab8.jpg')">
		</a>
		<a class="projectName" href="/projects/sakura.html" >
			Sakura
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/clock.html" style="background-image:url('http://farm7.static.flickr.com/6188/6110336375_f6471b7804.jpg')">
		</a>
		<a class="projectName" href="/projects/clock.html" >
			clock
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/halloween.html" style="background-image:url('http://farm7.static.flickr.com/6083/6110886390_9a2ae69c10.jpg')">
		</a>
		<a class="projectName" href="/projects/halloween.html" >
			Halloween
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/rose.html" style="background-image:url('http://farm7.static.flickr.com/6063/6110882438_100f76818e.jpg')">
		</a>
		<a class="projectName" href="/projects/rose.html" >
			Rose
		</a> 
	</div>
	<div class="tag-all work tag-drawing">
		<a class="coverImage" href="/projects/welcome.html" style="background-image:url('http://farm7.static.flickr.com/6081/6110337919_f6f7c9a70f.jpg')">
		</a>
		<a class="projectName" href="/projects/welcome.html" >
			Welcome
		</a> 
	</div>
	<div class="tag-all work tag-fun tag-drawing">
		<a class="coverImage" href="/projects/tlor.html" style="background-image:url('http://farm7.static.flickr.com/6066/6110880278_e415427101.jpg')">
		</a>
		<a class="projectName" href="/projects/tlor.html" >
			The Lord of the Rings
		</a> 
	</div>
	<div class="tag-all work tag-drawing tag-ui tag-ux">
		<a class="coverImage" href="/projects/report-ui.html" style="background-image:url('https://farm3.staticflickr.com/2897/14727605844_f98b00c09d.jpg')">
		</a>
		<a class="projectName" href="/projects/report-ui.html" >
			Report UI
		</a> 
	</div>
	<div class="tag-all work tag-art ">
		<a class="coverImage" href="/projects/shapes.html" style="background-image:url('https://farm4.staticflickr.com/3841/14749506623_3c98fe9ebf.jpg')">
		</a>
		<a class="projectName" href="/projects/shapes.html" >
			Shapes
		</a> 
	</div>
	<div class="dummywork"></div>
	<div class="dummywork"></div>
	<div class="dummywork"></div>
</div>
{% endblock content %}