{% extends "base.html" %}

{% block content %}
<div class="blog">
  <img class="blogHeroImage" src="/static/bg/ttj-hero.jpg">
  <div class = "blogText">
    <h1>
      Tiny Travel Journal
    </h1>
    <h2>
      An illustrated travel jounal by Jieting Tina Chen
    </h2>
    <p class="bold">
      Tiny Travel Journal - London editon. A pocket-sized travel journal filled with illustrations, tips and other fun stuff to inspire travelers visiting London. The project is planned to launch on Kickstarter in April.
    </p>
    <p class="bold">
      <a target="_blank" href="http://tinytraveljournal.com/">Here</a> is the product landing page. You can download the press kit <a target="_blank" href="https://www.dropbox.com/sh/hvhqjcnlauzbjiw/AAD5Dw9x_QamLs27ZtIl1N95a?dl=0">here</a>.
    </p>
    <p>
      Long long time ago...
    </p>
    <p>
      I grew up in Urumqi, a remote city furthest from the sea in the world. Because of that, I’ve always been obsessed with the sea and traveling. In my travels, I often found myself frustrated with existing travel guides. They are overpacked with too much information. Which hotel to stay in, which restaurant to eat in. List of 20 things you must do. I believe travel should be an experience of self-discovery. It is the unexpected things that make a trip truly unique and memorable.
    </p>
  </div>

  <iframe class="youtube-video" src="https://www.youtube.com/embed/iI8XQbWkXQk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <div class = "blogText">
    <p>
      That is why I set out to design Tiny Travel Journal, a series of simple and fun illustrated travel guide plus journal to inspire - not to burden - fellow travelers.
    </p>
    <p>
      Tiny Travel Journal - London is the first of this series. The first half of the journal consists of illustrations of London highlights. The second half are various gridded, dotted, striped pages for people to write, doodle, document their own trip.
    </p>

  </div>

  <div class="about-author">
    <div ><img class="author-image" src ="/static/bg/author.jpg"></div>
    <div class="blog-right">
      <h1>
        About the Author
      </h1>
      <p>
        Jieting Tina Chen, aka Tina is a New York based designer and illustrator. She loves macha icecram and usually seen hanging out with dogs.
      </p>
      <p>
        For contact, shoot an email to tinytraveljournal [at] gmail.com
      </p>
    </div>
  </div>

</div>
{% endblock content %}
