{% extends "base.html" %}

{% block content %}
<div class="blog">
  <img class="blogHeroImage" src="/static/bg/ttj-hero.jpg">
  <div class = "blogText">
    <h1>
      Tiny Travel Journal
    </h1>
    <h2>
      An illustrated travel jounal by Jieting Tina Chen
    </h2>
    <p class="bold">
      Tiny Travel Journal - London edition. A pocket-sized travel journal filled with illustrations, tips, and other fun stuff to inspire  London visitors. The project is planned to launch on Kickstarter in April.
    </p>
    <p class="bold">
      <a target="_blank" href="http://tinytraveljournal.com/">Here</a> is the product landing page. You can download the press kit <a target="_blank" href="https://www.dropbox.com/sh/hvhqjcnlauzbjiw/AAD5Dw9x_QamLs27ZtIl1N95a?dl=0">here</a>.
    </p>
    <p>
      Long long time ago...
    </p>
    <p>
      I grew up in Urumqi, the city furthest from the sea in the world.
      Because of that, I’ve always been obsessed with the sea and travel.
      In my travels, I found myself frustrated with existing travel guidebooks.
      They are often overpacked with information and so many ads.
      Which hotel to stay in, which restaurant to eat in, list of 20 things you must do.
    </p>
    <p>
      I believe travel should be an experience of adventure and self-discovery.
      It is the unexpected things that make a trip truly unique and memorable.
    </p>
  </div>

  <iframe class="youtube-video" src="https://www.youtube.com/embed/iI8XQbWkXQk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <div class = "blogText">
    <p>
      That is why I set out to design Tiny Travel Journal, a series of simple and fun illustrated travel guides.
      A journal to inspire - not to burden - fellow travelers.
    </p>
    <p>
      Tiny Travel Journal - London is the first of this series.
      The first half of the journal consists of illustrations of London highlights.
      The second half are various gridded, dotted, striped pages for people to write, doodle, document their own trip.
    </p>

  </div>

  <div class="about-author">
    <div ><img class="author-image" src ="/static/bg/author.jpg"></div>
    <div class="blog-right">
      <h1>
        About the Author
      </h1>
      <p>
        Jieting Tina Chen, aka Tina, is a New York based designer and illustrator.
        She loves macha ice cream and is often seen hanging out with dogs.
      </p>
      <p>
        For contact, shoot an email to tinytraveljournal [at] gmail.com
      </p>
    </div>
  </div>

</div>
{% endblock content %}
